@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

* {
    margin: 0;
    padding: 0;
}


body,
html {
    min-height: 100%;
}


body {
    background-image: url("Img/sockfire.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}


h2 {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 50px;
    width: 330px;
    margin: 0;
}

    .logo {
    width: 250px;
    height: 200px;
}

nav a {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 55px;
    text-decoration: none;
    margin: 0;
    margin-left: 7%;
    margin-right: 7%;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(#000, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



a:hover {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






p {
    font-size: 45px;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(#fffdfa, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    width: 27vw;
}
    nav,
    footer {
        background-color: #ffa87f;
        width: 100%;
        height: 90px;
    }
    
    nav {
    position: fixed;
    top: 0;
    text-align: center;
}

footer {
    margin-bottom: none;
    position: fixed;
    bottom: 0;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

div {
    margin: 110px 0px 0px 40vh;
}

div img {
    width: 17vw;
}

section {
    position: absolute;
    margin-top: 120px;
    margin-left: 35px;
}

h3 {
    font-size: 70px;
    position: absolute;
    left: 39vh;
    
}

.phone {
    top: 30vh;
}

.Email {
    top: 40vh;

}

.prices {
    position: absolute;
    right: 100px;
    top: 30vh;
}


strong {
    font-size: 75px;
    text-shadow: 6px 2px 5px rgba(255, 255, 255, 0.3);
}
























    
    
